/* Global styles */
:root {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
    width: 100%;
}

/* Map styles */

#map {
    height: 100%;
    width: 100%;

    /* Move map to the background */
    z-index: 1;
}

/* Control styles */
.control-panel {
    position: absolute;
    bottom: 5%;
    left: 5%;
    transform: translateY(-20%);
    z-index: 20;
    background-color: rgba(225, 234, 247, 0.7);
    padding: 0.7rem;
    border-radius: 0.7rem;

}

/* Input field style */
#run-length {
    width: 4rem;
    background-color: inherit;
    border-radius: 0.4rem;
    border: 2px solid rgba(9, 89, 121, 0.7);
    vertical-align: bottom;
    height: 1.5rem;
}

/* Disable spinner on the number input field */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.control-button {
    background-color: white;
    border: 2px solid rgba(9, 89, 121,0.7);
    border-radius: 0.4rem;
    font-family: inherit;
    font-weight: bold;
    height: 2.1rem;
    box-shadow: 1px 2px rgba(153, 153, 153, 0.747);
}

/* Press down button effect */
.control-button:active {
    box-shadow: 1px 1px rgba(102, 102, 102, 0.747);
    transform: translateY(1px);
  }